*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size:auto;

}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 20px;
}

.card-busca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 0, 87);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    

}

.card-busca input{
    padding: 10px 50px 10px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    text-align: start;
    font-size: 17px;
    background-color: transparent;
    

}


.card-busca button{
    padding: 10px;
    background-color: white;
    color:  rgb(45, 0, 87);
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;

    
    
}



.card-busca button:hover{

    box-shadow: 0 0 10px white;
    
    
}

.card-inf{
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(45, 0, 87);
    color: white;
    
}

.card-inf .icon{

    
}
.card-inf h3{
    font-size: 25px;
}
.card-inf .data{
    align-self: self-start;
    justify-self: self-start;
}

.card-inf p{
    font-size: 15px;

}

.card-inf .cidade{
    justify-self: start;
    align-self: self-start;
}
.card-inf .temperatura{
    font-size: 50px;
}

.card-inf .inf-bass{

    padding: 20px;
    border-radius: 20px;
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 20px;
    background-color: rgb(61, 2, 116);
}

.card-inf .inf-bass div {
   display: flex;
   flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.card-inf .inf-bass div img{
    width: 30px;
    height: 30px;
}

.card-inf .inf-bass div p{
    grid-area: ppp;
    color:rgb(186, 175, 197) ;
}
.card-inf .inf-bass div h4{
    grid-area: h44;
}

.card-erro{
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(45, 0, 87);
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}
.card-erro p span{
    color: red;
}
.card-erro p{
    max-width: 300px;
    text-align: center;
    color: white;
    
}
.card-erro img{
    width: 200px;
    height: 200px;
}

.copy{
    color: darkgoldenrod;
}

